.vscode/
env/
test_scans/
.dockerignore
Dockerfile
__pycache__/
data/
singularity_containers/
ROBEX/
temp_test_scans/
test.py 
lightning_logs/
data/
initial_segmentation/
*.sif
*.sh
*.ipynb
weights/
*.nii
*.zip
*.json
*.nii.gz
*.txt
*.png
logs/